<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="./estilos.css">
</head>

<body>
    <header class="container-fluid" id="header">
        <nav id="navbar">
            <div class="container-fluid">

                <ul style="display:flex; flex-direction:row; justify-content:space-around;">
                    <li class="btn-navbar" style="text-decoration:none; list-style-type:none;">
                        <a class="link-navbar" href="/api/admin"
                            style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140); font-size:1.5rem;">Administración</a>
                    </li>
                    <li class="btn-navbar" style="text-decoration:none; list-style-type:none;">
                        <a class="link-navbar" href="/api/usuarios/login"
                            style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140); font-size:1.5rem;">Mi
                            Perfil</a>
                    </li>
                    <li class="btn-navbar" style="text-decoration:none; list-style-type:none;">
                        <button
                            style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140); font-size:1.2rem; background-color:white; border-width:0;">
                            <a class="link-navbar"
                                style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140);"
                                href="/chat">Chat</a></button>
                    </li>

                    <li class="btn-navbar" style="text-decoration:none; list-style-type:none;">
                        <button
                            style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140); font-size:1.2rem; background-color:white; border-width:0;">
                            <a class="link-navbar"
                                style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140);"
                                href="/logout">Cerrar sesión</a></button>
                    </li>
                </ul>

            </div>
        </nav>
    </header>


    <h1 style="color:rgb(57, 4, 90); margin:20px;" id="titulo-carrito">Aún no ha agregado productos al carrito</h1>
    <form method="post" action="/api/carrito">
                            <button type="submit" id="" class="link-navbar"
                                style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140); font-size:1.2rem; background-color:rgb(210, 199, 227); border-radius:5px; border-width:0; margin-left:20px;">
                                Comenzar a comprar
                            </button>
                        </form>
</body>
</html>