<div style="background-color:rgb(153, 35, 5); width:100%; heigth:80%;">

    <h1 style="color:white">RUTA NO AUTORIZADA</h1>

</div>

<script>
    const timer = () => {
  setTimeout(() => {
    document.location.href = '/api/usuarios/login'
  }, 1500);
    }
    timer()
</script>