<h1 style="color:rgb(92, 39, 143)">E-Commerce</h1>
<h4 style="color:rgb(92, 39, 143)">Proyecto final Backend</h4>
<h4 style="color:rgb(92, 39, 143); font-size:0.7rem;">Melina Señoráns Pérez</h4>
<button> <a href="/api/usuarios/login">Ir a login </a> </button>
<button> <a href="/api/usuarios/signup">Ir a signup</a> </button>